/02_Discount/nbproject/private/
/02_Discount/build/
/03_InputProblem/nbproject/private/
/03_InputProblem/build/
/04_Challenge01/nbproject/private/
/04_Challenge01/build/
/05_Challenge03/nbproject/private/
/05_Challenge03/build/
/06_Challenge_05/nbproject/private/
/06_Challenge_05/build/
/07_Challenge_12/nbproject/private/
/07_Challenge_12/build/
/08_Challenge_19/nbproject/private/
/10_chap3_Challenge_01/nbproject/private/
/10_chap3_Challenge_01/build/